*.user
*.suo
*.orig
*.metaproj
*.tmp
*.idea
*.cache
*.docstates
*.dat
*.log

packages/

obj
bin

UpgradeLog.*

.git/
.vs/
.vscode/
Backup/

# Publish Web Outputgit st
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj
